<br />
<br />
<br />
<br />

<div class="wrapper">
  <div class="sub-menu-wrapper">
    <ul> 
      <li>Pomodoro </li>
      <li>Short break </li>
      <li>Long break </li>
    </ul>
  </div>

  <div class="timer-wrapper">
    <div class="timer">
      <p>25:00 </p>
    </div>
    <div class="timer-btns">
      <button class="start-btn"> start </button>
      <button class="stop-btn"> stop </button>
      <button class="reset-btn"> reset </button>
    </div>
    <div>
      <p class="keyboard">Keyboard shortcuts </p>
      <p class="start">use SPACE to start or stop the timer </p>
    </div>
  </div>

  <p>Designed and Developed by David, Adebola, Eva and Hugo</p>
</div>