@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$standard-margin: 8px;
$double-margin: 2 * $standard-margin;

/* header */

.navbar-inverse {
  background-color: tomato;
}

.navbar-container {
  display: flex;
  align-items: center;
  margin-top: $standard-margin;
  width: auto; // TODO fix width
  background-color: green;
  &:hover {
    text-decoration: none;
  }
}

.logo {
  width: 32px;
}

.nav-text {
  color: white;
  font-family: sans-serif;
  font-size: 22px;
  margin-left: $double-margin;
}