@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/* variables */
$standard-margin: 8px;
$double-margin: 2 * $standard-margin;

/* header */

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.navbar-inverse {
  background-color: tomato;
}

.main-navbar-container {
  display: flex;
  align-items: center;
  margin-top: $standard-margin;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 220px;
  &:hover {
    text-decoration: none;
  }
}

.logo {
  width: 32px !important;
}

.nav-text {
  color: white;
  font-family: sans-serif;
  font-size: 22px;
  margin-left: $double-margin;
}

.right-header-link {
  display: flex;
  margin-left: auto;
}

.github-text {
  color: white;
  margin-top: $standard-margin;
  margin-left: $standard-margin;
}

.wrapper {
  background-color: #99a1a6;
  height: 100vh;
}

.sub-menu-wrapper {
  position: absolute;
  width: 1047px;
  height: 65px;
  left: 400px;
  top: 165px;
  background: #5c5d8d;
  border-radius: 20px;
}

.sub-menu-wrapper ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.sub-menu-wrapper ul li {
  margin-right: 2em;
  font-size: 28px;
  margin-top: 0.5em;
  color: white;
  font-weight: 300;
}

.sub-menu-wrapper ul li:active {
  font-weight: 700;
}

.timer-wrapper {
  position: absolute;
  width: 1056px;
  height: 569px;
  left: 400px;
  top: 260px;
  background: #ffffff;
  border-radius: 43px;
}

.timer p {
  text-align: center;
  margin-top: 0.1em;
  font-weight: 700;
  font-size: 144px;
  color: #000000;
  margin-bottom: 0;
}

.timer-btns {
  display: flex;
  justify-content: center;
  margin-left: 2em;
}

.timer-btns button {
  margin-right: 2em;
  width: 199px;
  border-radius: 40px;
  height: 45px;
  border: none;
}

.start-btn,
.stop-btn,
.reset-btn {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.stop-btn {
  background-color: #e85f5c;
  color: white;
}

.start-btn {
  background-color: #b4ca8b;
  color: white;
}

.reset-btn {
  background-color: #c4c4c4;
  color: black;
}

.btn-footer {
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  margin: 8em 0;

  .keyboard {
    color: #5c5d8d;
  }

  .start {
    color: #999999;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
