<!-- TODO Hugo please include the following information on the footer -->
<!-- Tomato -->
<!--Icons made by-->
<!--<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from-->
<!--<a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->

<!-- GitHub -->
<!--Icons made by-->
<!--<a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel-->
<!--  perfect</a> from-->
<!--<a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="logo">
          <%= display_svg('tomato.svg') %>
        </div>
        <span class="nav-text">Pomodoro Timer</span>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-4 text-right">
            <p>Find us:</p>
          </div>
          <div class="col-8"></div>
          <div class="col-4 text-right">
            <p>Adebola Adeniran</p>
          </div>
          <div class="col-8">
            <a href="#" class="icon">
              <%= display_svg('github.svg') %>
            </a>
            <a href="#" class="icon">
              <%= display_svg('linkedin.svg') %>
            </a>
            <a href="#" class="icon">
              ​
            </a>
            <a href="#" class="icon">
              ​
            </a>
          </div>
          <div class="col-4 text-right">
            <p>David Auza</p>
          </div>
          <div class="col-8">
            ​
          </div>
          <div class="col-4 text-right">
            <p>Eva Veskova Jackson</p>
          </div>
          <div class="col-8">
            ​
          </div>
          <div class="col-4 text-right">
            <p>Hugo Passos</p>
          </div>
          <div class="col-8">
            ​
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-4">
        <p>Copyright © 2020</p>
      </div>
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-5 text-right">
            Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
          </div>
          <span class="col-1 text-center">|</span>
          <div class="col-5 text-left">
            Icons made by
            <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel
              perfect</a> from
            <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>