<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a href="<% root_url %>" class="navbar-container">
      <div class="logo">
        <%= display_svg('tomato.svg') %>
      </div>
      <span class="nav-text">Pomodoro Timer</span>
    </a>
  </div>
</header>