<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%#= link_to image_tag('app/assets/images/tomato.svg'), '#' %>
    <div class="logo"><%= display_svg('tomato.svg') %></div>
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    <%= link_to 'Pomodoro Timer', '#', id: 'logo' %>
  </div>
</header>